
/DomainModels/App_Data/*.mdf

/DomainModels/App_Data/*.ldf
/DomainModels/bin/Debug/App_Data/*.mdf
/DomainModels/bin/Debug/App_Data/*.ldf

*.dll
/MegaDoc1/bin/hibernate.cfg.xml
/MegaDoc1/bin/DomainModels.dll
/MegaDoc1/bin/DomainModels.pdb
/MegaDoc1/bin/*.dll
/MegaDoc1/bin/*.pdb
/DomainModels/bin/Debug/*.pdb
/DomainModels/bin/Debug/*.xml
/DomainModels/bin/Debug/*.dll
/DomainModels/obj/Debug/*.pdb
/DomainModels/obj/Debug/*.dll
/DomainModels/obj/Debug/*.txt
/DomainModels/obj/Debug/*.cache
/DomainModels/obj/Debug/*.cache
/MegaDoc1/obj/Debug/*.dll
/MegaDoc1/obj/Debug/*.cache
/MegaDoc1/obj/Debug/*.pdb
/MegaDoc1/obj/Debug/*.txt
/MegaDoc1/obj/Debug/*.cache
/MegaDoc1/obj/Debug/*.cache
/MegaDoc1/bin/App_Data/*.mdf
/MegaDoc1/bin/App_Data/*.ldf
/.vs
/MegaDoc1/bower_components/*
/MegaDoc1/obj/*
/MegaDoc1/bin/*
/vs/*